h1,
h2,
h5 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 4em;
    color: #333333;
    margin: 15px 0 0 0;
}

h2 {
    font-weight: 400;
    font-size: 4em;
    color: #4AAAA5;
    margin: 0 0 35px 0;
}

h5 {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

p {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

/* #error-banner {
    background-color: #B73333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    letter-spacing: 0.01em;
}

#error-banner-spacer {
    height: 80px !important;
    visibility: hidden;
} */

.header {
    margin: 2em 0 2em 0;
}

div#dropdown.drop {
    padding: 1em 1em 1em 1em;
    margin: 0em 0 1em 0;
    border-color: #4AAAA5;
    border-width: 0.1em;
    border-style: solid;
    background-color: #EEEEEE;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-menu {
    margin: 0.25em 0 0.5em 0;
}

select#selDataset.dropdown-item {
    outline: none;
}

.dropdown-item {
    font-family: 'Oswald', sans-serif;

}

div.panel-heading {
    background-color: #EEE !important;
    color: #333333 !important;
    border-bottom: 1px solid #4AAAA5 !important;

}

.panel {
    border: 1px solid #4AAAA5 !important;
    border-radius: 0.2em !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#gauge {
    padding: 0 0 0 0;
}

/* #bar {
    margin: 0 0 0 50px !important;
    padding: 10px 0 0 !important;
} */

/* div.plot-container.plotly,
div.user-select-none.sg-container { */
/* margin: 0 0 0 0;
    padding: 0 0 0 0; */
/* width: 100% !important; */
/* } */

#bubble {
    margin: 20px 0 0 0;
    /* padding: 80px; */
}

/* .svg-container {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
} */

/* .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
} */